@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .navbar-bg {
    background: rgba(255, 255, 255, 0.7);
  }
  .navbar-input {
    display: block;
    width: 100%;
    padding: 0.25rem;
    padding-left: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(17 24 39);
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: rgb(71 85 105);
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
}